{% extends 'base.html' %}

{% csrf_token %}

{% block title%}
   {% if sc %}
      {{className}} | {{sc.name}}
   {% else %}
      {{className}}
   {% endif %}
{% endblock %}

{% block content %}
   <div id="mainScreen">
      
      <div id="secDir">
         <div id="upload">
             <form method="post" enctype="multipart/form-data">
               <p id="upload_notice">Choose a file to upload</p>
                  {% csrf_token %}
                  {{form.content}}
                  <div id="submit">
                     <button id="uploadSubmit" type="submit">Upload</button>
                  </div>
            </form>
         </div>
         
         <div id="dirTree">
            {% if sclist %}
               {% for sc in sclist %}
               <a href="{% url 'openSC' className sc.id %}">{{sc.content.name}}</a><br>
               {% endfor %}
            {% endif %}
         </div>
         
      </div>
      
      <div id="codeMenu">
         <button id="menuBtnCreateComment"><i class = "fas fa-comment-alt"></i></button>
      </div>
      <div id="secCode">
         <div id="showContent">
            <div id="showLineNum" unselectable="on">
               <p unselectable="on" >
                  {% for i in range %}
                     {{i}}<br>
                  {% endfor %}
               </p>
            </div>
            <p id="code"></p>
         </div>
      </div>

      <div id="secChat">
         <!--
         X <input id="X" disabled><br>
         Y <input id="Y" disabled><br>
         P <input id="P" disabled>
         <textarea id="try" style="width: 100%; height: 80%;"></textarea>-->
         <div id="chatLog" class="mesgs">
            <div id="chatHistory" class="msg_history">
            </div>
         </div><br>
         <div id="chatBottom">
            <textarea id="chatInput"></textarea>
            <input id="chatSubmit" onclick="sendMessage()" type="button" value="Send"></input>
         </div>
      </div>
   </div>

<script>
   var x = 0;
   var y = 0;
   var creatingComment = false;
   var id = {{nextId}};
   var scId = {{sc.id}};
   var seltxt = window.getSelection();
   var {anchorNode, anchorOffset, focusNode, focusOffset} = window.getSelection();
   var target;
   var classname = "{{className}}";
   var userid = "{{user.id}}";
   var htmlEntities = [
      [/&amp;/g, "&"],
      [/&lt;/g, "<"],
      [/&gt;/g, ">"],
      [/&quot;/g, "\""],
      [/&#x27;/g, "\'"],
   ];
   
   window.onload = prepare;

   function prepare() {
      highlightSC();
      loadComments();
      loadMessages();
   }

   document.getElementById("code").addEventListener('mousedown', function(e){
      x = e.target.closest('.line').offsetLeft + e.target.closest('.line').offsetWidth;
      y = e.target.offsetTop;
      
      //X.value = x;
      //Y.value = y;
   });

   document.getElementById("code").addEventListener('mouseup', function(e){
      if (window.getSelection().toString().length > 0 && e.target.closest("#code").id == "code"){
         seltxt = window.getSelection();
         anchorNode = seltxt.anchorNode;
         anchorOffset = seltxt.anchorOffset;
         focusNode = seltxt.focusNode;
         focusOffset = seltxt.focusOffset;
         target = e.target;
      }
   });
   
   // CREATE COMMENT
   document.getElementById("menuBtnCreateComment").addEventListener('click', function(e){
      
      if (seltxt.toString().length > 0 && target.closest("#code").id == "code"){
         
         if (creatingComment == false){
            //document.designMode = "on";
            //document.execCommand("HiliteColor", false, "yellow");
            //document.designMode = "off";
            
            var newComment = Object.create(Comment);
            newComment.id = id;
            id = id;
            newComment.seltxt = seltxt.toString();
            newComment.anchorNodeID = anchorNode.parentNode.id;
            newComment.anchorOffset = seltxt.anchorOffset;
            newComment.focusNodeID = focusNode.parentNode.id;
            newComment.focusOffset = seltxt.focusOffset;
            newComment.posX = x;
            newComment.posY = y;
            
            //X.value = newComment.anchorNodeID;
            //Y.value = newComment.focusNodeID;
            
            var newCommentIcon = newComment.createComment();
            document.getElementById("code").prepend(newCommentIcon);
            $(`#${newCommentIcon.id}`).css({"position": "absolute", "left":`${newComment.posX}px`, "top": `${newComment.posY}px` });
            $(`#${newCommentIcon.id}`).addClass("open");
            $(`#${newCommentIcon.id}Form`).css("visibility","visible");
            
            creatingComment = true;
         } else {
            alert("There is a comment that is unfinished creating.");
         }
      } else {
         alert("Select text to comment.");
      }
   });

   /*document.onselectionchange = function() {
      let {anchorNode, anchorOffset, focusNode, focusOffset} = document.getSelection();
      //X.value = `${anchorNode.parentNode.id}:${anchorOffset}`;
      //Y.value = `${focusNode.parentNode.parentNode.id}:${focusOffset}`;
   }*/

   // CHANNELS WEBSOCKET
   const scSocket = new WebSocket('ws://' + window.location.host + "/ws/sourcecode/" + "{{sc.id}}" + '/');
   
   // RECEIVE FROM WEBSOCKET
   scSocket.onmessage = function(e){
      var data = JSON.parse(e.data);
      var todoType = data['todoType'];
      
      if (todoType == "commentCreated"){
         var cid = data['cId'];
         var seltxt = data['seltxt'];
         var anchorNodeID = data['anchorNodeID'];
         var anchorOffset = data['anchorOffset'];
         var focusNodeID = data['focusNodeID'];
         var focusOffset = data['focusOffset'];
         var posx = data['posx'];
         var posy = data['posy'];
         var text = data['text'];
         
         var newComment = Object.create(Comment);
         newComment.id = cid;
         newComment.seltxt = seltxt;
         newComment.anchorNodeID = anchorNodeID;
         newComment.anchorOffset = anchorOffset;
         newComment.focusNodeID = focusNodeID;
         newComment.focusOffset = focusOffset;
         newComment.posX = posx;
         newComment.posY = posy;
         newComment.text = text;
         
         var newCommentIcon = newComment.deleteComment();
         document.getElementById("code").prepend(newCommentIcon);
         $(`#${newCommentIcon.id}`).css({"position": "absolute", "left":`${newComment.posX}px`, "top": `${newComment.posY}px` });
      } else if (todoType == "commentDeleted"){
         var cid = data['cId'];
         cancelComment(cid);
      }else if (todoType == "messageSent"){
         var muserid = data['userid'];
         var mcontent = data['content'];
         var mtimestamp = data['timestamp'];
         
         if (muserid == userid){
            var newMessage = Object.create(Message);
            newMessage.userid = muserid;
            newMessage.content = mcontent;
            newMessage.timestamp = mtimestamp;
            newMessage.createOutgoingMessage();
         } else {
            var newMessage = Object.create(Message);
            newMessage.userid = muserid;
            newMessage.content = mcontent;
            newMessage.timestamp = mtimestamp;
            newMessage.createIncomingMessage();
         }
      }
   }

   scSocket.onclose = function(e){
      alert("CLOSE");
   }

   // HIGHLIGHT SC AND DISPLAY
   function highlightSC() {
      var content = "{{js_fcontent}}";
      content = content.substring(6, content.length-6);
      
      //SYNTAX HIGHLIGHTING
      var highlighted = hljs.highlightAuto(content).value;
      for (var i = 0; i < htmlEntities.length; i++){
         highlighted = highlighted.replace(htmlEntities[i][0], htmlEntities[i][1]);
      }
      
      // ADD NODES BY LINE
      var bylines = highlighted.split("\n");
      for (var i = 0; i < bylines.length; i++){
         var oneline = bylines[i];
         bylines[i] = `<span class='line' data-lineNumber='${i+1}'>` + oneline + "</span>";
      }
      var line = bylines.join("\n");
      document.getElementById("code").innerHTML = line;
      
      // ADD IDS TO EACH NODE
      var grandels = $("#code").find("span");
      var n = 1;
      for (var i = 0; i < grandels.length; i++){
         grandels[i].id = `el${n}`;
         n += 1;
      }
      
      //document.getElementById("try").innerHTML = document.getElementById("code").innerHTML;
   }

   // LOAD COMMENTS
   function loadComments() {
      if (id != -1){
         var commentlist = {{commentlist|safe}};
         for (var i = 0; i < commentlist.length; i++){
            var newComment = Object.create(Comment);
            newComment.id = commentlist[i]["pk"];
            newComment.seltxt = commentlist[i]["fields"].seltxt;
            newComment.anchorNodeID = commentlist[i]["fields"].anchorNodeID;
            newComment.anchorOffset = commentlist[i]["fields"].anchorOffset;
            newComment.focusNodeID = commentlist[i]["fields"].focusNodeID;
            newComment.focusOffset = commentlist[i]["fields"].focusOffset;
            newComment.posX = commentlist[i]["fields"].posX;
            newComment.posY = commentlist[i]["fields"].posY;
            newComment.text = commentlist[i]["fields"].text;
            
            var newCommentIcon = newComment.deleteComment();
            
            document.getElementById("code").prepend(newCommentIcon);
            $(`#${newCommentIcon.id}`).css({"position": "absolute", "left":`${newComment.posX}px`, "top": `${newComment.posY}px` });
         }
      }
   }

   // LOAD MESSAGES
   function loadMessages() {
      var messagelist = {{messagelist|safe}};
      
      if (messagelist.length > 0){
         for (var i = 0; i < messagelist.length; i++){
            var muserid = messagelist[i]["fields"].user;
            var mcontent = messagelist[i]["fields"].content;
            var mtimestamp = messagelist[i]["fields"].timestamp;
            
            if (muserid == userid){
               var newMessage = Object.create(Message);
               newMessage.userid = muserid;
               newMessage.content = mcontent;
               newMessage.timestamp = mtimestamp;
               newMessage.createOutgoingMessage();
               
            } else {
               var newMessage = Object.create(Message);
               newMessage.userid = muserid;
               newMessage.content = mcontent;
               newMessage.timestamp = mtimestamp;
               newMessage.createIncomingMessage();
            }
         }
      }
   }

   //COMMENT OBJECT
   const Comment = {
      id: 0,
      seltxt: '',
      anchorNodeID: 0,
      anchorOffset: 0,
      focusNodeID: 0,
      focusOffset: 0,
      posX: 0,
      posY: 0,
      text: '',
      createComment() {
         var id = this.id;
         var seltxt = this.seltxt;
         var anchorNodeID = this.anchorNodeID;
         var anchorOffset = this.anchorOffset;
         var focusNodeID = this.focusNodeID;
         var focusOffset = this.focusOffset;
         var posX = this.posX;
         var posY = this.posY;
         var text = this.text;
         var commentForm = document.createElement("div");
         commentForm.className = "commentForm";
         commentForm.id = `comment${this.id}Form`;
         /*var commentMinimizeBtn = document.createElement("button");
         commentMinimizeBtn.className = "commentMinimizeBtn";
         var minimizeIcon = document.createElement("i");
         minimizeIcon.className = "fas fa-window-minimize minimize";
         commentMinimizeBtn.appendChild(minimizeIcon);
         commentForm.appendChild(commentMinimizeBtn);*/
         var commentContent = document.createElement("textarea");
         commentContent.innerHTML = text;
         commentContent.id = `comment${this.id}Text`;
         commentContent.className = "commentContent";
         commentContent.setAttribute("type", "text");
         commentContent.setAttribute("id", `comment${this.id}Content`);
         commentForm.appendChild(commentContent);
         var commentCancelBtn = document.createElement("input");
         commentCancelBtn.className = "commentCancelBtn";
         commentCancelBtn.setAttribute("id", "commentCancelBtn");
         commentCancelBtn.type = "button";
         commentCancelBtn.addEventListener('click', function(event) {
            event.preventDefault();
            cancelComment(id);
         });
         commentCancelBtn.setAttribute("value", "Cancel");
         commentForm.appendChild(commentCancelBtn);
         var commentSaveBtn = document.createElement("input");
         commentSaveBtn.className = "commentSaveBtn";
         commentSaveBtn.setAttribute("id", "commentSaveBtn");
         commentSaveBtn.type = "button";
         commentSaveBtn.addEventListener('click', function(event) {
            event.preventDefault();
            saveComment(id, seltxt, anchorNodeID, anchorOffset, focusNodeID, focusOffset, posX, posY, text);
         });
         commentSaveBtn.setAttribute("value", "Save");
         commentForm.appendChild(commentSaveBtn);
         
         var icon = document.createElement("div");
         icon.className = "commentIcon";
         icon.id = `comment${this.id}`;
         icon.appendChild(commentForm);
         //icon.css({"position": "absolute", "left": `${this.posX}px`, "top": `${this.posY}px`});
         //CLICK TOGGLE - OPEN & CLOSE
         icon.addEventListener('click', function(e){
            if ($(`#${e.target.id}`).hasClass("commentIcon") == true){
               if ($(`#${e.target.id}`).hasClass("open")){
                  $(`#${e.target.id}`).removeClass("open");
                  $(`#${e.target.id}Form`).css("visibility","hidden");
               } else {
                  $(`#${e.target.id}`).addClass("open");
                  $(`#${e.target.id}Form`).css("visibility","visible");
               }
            }
         });
         
         return icon;
      },
      deleteComment() {
         var id = this.id;
         var seltxt = this.seltxt;
         var anchorNodeID = this.anchorNodeID;
         var anchorOffset = this.anchorOffset;
         var focusNodeID = this.focusNodeID;
         var focusOffset = this.focusOffset;
         var posX = this.posX;
         var posY = this.posY;
         var text = this.text;
         var commentForm = document.createElement("div");
         commentForm.className = "commentForm";
         commentForm.id = `comment${this.id}Form`;
         var commentContent = document.createElement("textarea");
         commentContent.innerHTML = text;
         commentContent.id = `comment${this.id}Text`;
         commentContent.className = "commentContent";
         commentContent.setAttribute("type", "text");
         commentContent.setAttribute("id", `comment${this.id}Content`);
         commentForm.appendChild(commentContent);
         var commentDeleteBtn = document.createElement("input");
         commentDeleteBtn.className = "commentCancelBtn";
         commentDeleteBtn.setAttribute("id", "commentDelteBtn");
         commentDeleteBtn.type = "button";
         commentDeleteBtn.addEventListener('click', function(event) {
            event.preventDefault();
            deleteComment(id);
         });
         commentDeleteBtn.setAttribute("value", "Delete");
         commentForm.appendChild(commentDeleteBtn);
         var commentSaveBtn = document.createElement("input");
         commentSaveBtn.className = "commentSaveBtn";
         commentSaveBtn.setAttribute("id", "commentSaveBtn");
         commentSaveBtn.type = "button";
         commentSaveBtn.addEventListener('click', function(event) {
            event.preventDefault();
            saveComment(id, seltxt, anchorNodeID, anchorOffset, focusNodeID, focusOffset, posX, posY, text);
         });
         commentSaveBtn.setAttribute("value", "Save");
         commentForm.appendChild(commentSaveBtn);
         
         var icon = document.createElement("div");
         icon.className = "commentIcon";
         icon.id = `comment${this.id}`;
         icon.appendChild(commentForm);
         //icon.css({"position": "absolute", "left": `${this.posX}px`, "top": `${this.posY}px`});
         //CLICK TOGGLE - OPEN & CLOSE
         icon.addEventListener('click', function(e){
            if ($(`#${e.target.id}`).hasClass("commentIcon") == true){
               if ($(`#${e.target.id}`).hasClass("open")){
                  $(`#${e.target.id}`).removeClass("open");
                  $(`#${e.target.id}Form`).css("visibility","hidden");
               } else {
                  $(`#${e.target.id}`).addClass("open");
                  $(`#${e.target.id}Form`).css("visibility","visible");
               }
            }
         });
         
         return icon;
      }
   }

   // CANCEL COMMENT
   function cancelComment(commentID){
      creatingComment = false;
      document.getElementById(`comment${commentID}`).remove();
      window.getSelection().removeAllRanges();
   }

   // DELETE COMMENT
   function deleteComment(commentID){
      $.ajax(
      {
         url: "{% url 'deleteComment' %}",
         type: "GET",
         data:{
            cId: commentID,
         },
         success: function (response){
            //alert("SUCCESS\n" + response);
            if (response == "DELETED"){
               scSocket.send(JSON.stringify({
                  'todoType': "commentDeleted",
                  'cId': commentID,
               }));
               
               cancelComment(commentID);
            } else if (response == "NO ACCESS"){
               alert("You can't delete a comment that someone else has created.");
            }
         },
         error: function (response){
            alert("ERROR!!\n" + response);
         }
      });
   }

   // MESSAGE OBJECT
   const Message = {
      userid: 0,
      content: "",
      timestamp: "",
      createOutgoingMessage() {
         var userid = this.userid;
         var mcontent = this.content;
         var timestamp = this.timestamp;
         var year = timestamp.substring(0,4);
         var month = timestamp.substring(5,7);
         var day = timestamp.substring(8,10);
         var hour = timestamp.substring(11,13);
         var minute = timestamp.substring(14,16);
         
         var divOutgoing = document.createElement("div");
         divOutgoing.className = "outgoing_msg";
         var divSent = document.createElement("div");
         divSent.className = "sent_msg";
         divOutgoing.appendChild(divSent);
         var content = document.createElement("p");
         content.innerHTML = mcontent;
         divSent.appendChild(content);
         var timedate = document.createElement("span");
         timedate.className = "time_date";
         timedate.innerHTML = hour +":"+ minute + "   |   " + month + " " + day + " " + year;
         divSent.appendChild(timedate);
         
         document.getElementById("chatHistory").appendChild(divOutgoing);
      },
      createIncomingMessage(){
         var userid = this.userid;
         var mcontent = this.content;
         var timestamp = this.timestamp;
         var year = timestamp.substring(0,4);
         var month = timestamp.substring(5,7);
         var day = timestamp.substring(8,10);
         var hour = timestamp.substring(11,13);
         var minute = timestamp.substring(14,16);
         
         var divIncoming = document.createElement("div");
         divIncoming.className = "incoming_msg";
         var divReceived = document.createElement("div");
         divReceived.className = "received_msg";
         divIncoming.appendChild(divReceived);
         var divReceivedContent = document.createElement("div");
         divReceivedContent.className = "received_withd_msg";
         divReceived.appendChild(divReceivedContent);
         var content = document.createElement("p");
         content.innerHTML = mcontent;
         divReceivedContent.appendChild(content);
         var timedate = document.createElement("span");
         timedate.className = "time_date";
         timedate.innerHTML = hour +":"+ minute + "   |   " + month + " " + day + " " + year;
         divReceivedContent.appendChild(timedate);
         
         document.getElementById("chatHistory").appendChild(divIncoming);
      }
   }
   
   //SAVE COMMENT
   function saveComment(id, seltxt, anchorNodeID, anchorOffset, focusNodeID, focusOffset, posX, posY, text){
      $.ajax(
      {
         url: "{% url 'getLatestCommentId' %}",
         type: "GET",
         success: function (response){
            
            $.ajax(
            {
               url: "{% url 'saveComment' %}",
               type: "GET",
               data:{
                   scId: {{sc.id}},
                   id: Number(response),
                   seltxt: seltxt,
                   anchorNodeID: anchorNodeID,
                   anchorOffset: anchorOffset,
                   focusNodeID: focusNodeID,
                   focusOffset: focusOffset,
                   posX: posX,
                   posY: posY,
                   text: $(`#comment${id}Content`).val(),
               },
               success: function (response){
                  document.getElementById(`comment${id}`).remove();
                  creatingComment = false;
                  //alert("SUCCESS\n" + response);
                  
                  scSocket.send(JSON.stringify({
                     'todoType': "commentCreated",
                     'cId': response,
                  }));
               },
               error: function (response){
                  alert("ERROR!!\n" + response);
               }
            });
         },
         error: function (response){
            alert("ERROR!!\n" + response);
         }
      });
   }

   // SAVE MESSAGE
   function sendMessage(){
      var messageContent = chatInput.value;
      
      $.ajax(
      {
         url: "{% url 'sendMessage' %}",
         type: "GET",
         data:{
            scId: scId,
            messageContent: messageContent,
            classname: classname,
         },
         success: function (response){
            //alert("SUCCESS\n" + response);
            
            scSocket.send(JSON.stringify({
               'todoType': "messageSent",
               'messageId': response,
            }));
            
            chatInput.value = "";
         },
         error: function (response){
            alert("ERROR!!\n" + response);
         }
      });
   }
   
</script>

{% endblock %}
