{% extends 'base.html' %}

{% csrf_token %}

{% block title%}
   {% if sc %}
      {{className}} | {{sc.name}}
   {% else %}
      {{className}}
   {% endif %}
{% endblock %}

{% block content %}
   <div id="mainScreen">
      
      <div id="secDir">
         <div id="upload">
             <form method="post" enctype="multipart/form-data">
               <p id="upload_notice">Choose a file to upload</p>
                  {% csrf_token %}
                  {{form.content}}
                  <div id="submit">
                     <button id="uploadSubmit" type="submit">Upload</button>
                  </div>
            </form>
         </div>

         <i class="fas fa-folder-plus" id="folderBtn" onclick="addFolderText()"></i>
         
         <div id="dirTree">
               {% for folder in folderlist %}
               <i class="fas fa-folder" id="folderIcon"></i>{{folder.name}}<br>
                  {% if sclist %}
                     {% for sc in sclist %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="openSC" href="{% url 'openSC' className sc.id %}">{{sc.name}}</a><br>
                     {% endfor %}
                  {% endif %}
               {% endfor %}
         </div>
         
      </div>
      
      <div id="codeMenu">
         <label id="auto-focus" class="switch">
            <label id="auto-focus-label"> Auto Focus</label>
           <input id="auto-focus-value" type="checkbox">
           <span class="slider round"></span>
         </label>
         <div id="divider1" class="vl"></div>
         <button id="menuBtnCreateComment"><i class = "fas fa-comment-alt"></i></button>
      </div>
      <div id="secCode">
         <div id="showContent">
            <div id="showLineNum" unselectable="on">
               <p unselectable="on" >
                  {% for i in range %}
                     {{i}}<br>
                  {% endfor %}
               </p>
            </div>
            <p id="code"></p>
         </div>
      </div>

      <div id="secChat">
         
         <!--X <input id="X" disabled><br>
         Y <input id="Y" disabled><br>
         X <input id="A" disabled><br>
         Y <input id="B" disabled><br>
         P <input id="P" disabled>
         <textarea id="try" style="width: 100%; height: 80%;"></textarea>-->
         <div id="chatLog" class="mesgs">
            <div id="chatHistory" class="msg_history">
            </div>
         </div><br>
         <div id="chatBottom">
            <textarea id="chatInput"></textarea>
            <input id="chatSubmit" onclick="sendMessage()" type="button" value="Send"></input>
         </div>
      </div>
   </div>

<script>

   var scName;

   function loadSC(){
      scName = {{sc.content.name}};
      scName = scName.split('/')[-1];
      alert(scName);
      document.getElementById("openSC").innerHTML = scName; 
   }



   var x = 0;
   var y = 0;
   var creatingComment = false;
   var id = {{nextId}};
   var scId = {{sc.id}};
   var seltxt = window.getSelection();
   var {anchorNode, anchorOffset, focusNode, focusOffset} = window.getSelection();
   var target;
   var classname = "{{className}}";
   var userid = "{{user.id}}";
   var autofocus = false;
   var scrollPos = 0;
   var htmlEntities = [
      [/&amp;/g, "&"],
      [/&lt;/g, "<"],
      [/&gt;/g, ">"],
      [/&quot;/g, "\""],
      [/&#x27;/g, "\'"],
   ];
   
   window.onload = prepare;

   function prepare() {
      highlightSC();
      loadComments();
      loadMessages();
      loadSC();
   }

   document.getElementById("code").addEventListener('mousedown', function(e){
      x = e.target.closest('.line').offsetLeft + e.target.closest('.line').offsetWidth;
      y = e.target.offsetTop;
      
      //X.value = x;
      //Y.value = y;
   });

   document.getElementById("code").addEventListener('mouseup', function(e){
      if (window.getSelection().toString().length > 0 && e.target.closest("#code").id == "code"){
         seltxt = window.getSelection();
         anchorNode = seltxt.anchorNode;
         anchorOffset = 0;
         focusNode = seltxt.focusNode;
         focusOffset = seltxt.focusNode.data.length;
         target = e.target;
         
         scrollPos = window.scrollY;
         scSocket.send(JSON.stringify({
            'todoType': "autofocus",
            'scrollPos': scrollPos,
         }));
      }
   });
   
   document.getElementById("auto-focus-value").addEventListener('click', function(e){
      autofocus = document.getElementById("auto-focus-value").checked;
   });
   
   // CREATE COMMENT
   document.getElementById("menuBtnCreateComment").addEventListener('click', function(e){
      
      if (seltxt.toString().length > 0 && target.closest("#code").id == "code"){
         
         if (creatingComment == false){
            //document.designMode = "on";
            //document.execCommand("HiliteColor", false, "yellow");
            //document.designMode = "off";
            
            var anchorNumber = Number(anchorNode.parentNode.id.substring(2));
            var focusNumber = Number(focusNode.parentNode.id.substring(2));
            
            var newComment = Object.create(Comment);
            newComment.id = id;
            id = id;
            newComment.seltxt = seltxt.toString();
            if (anchorNumber < focusNumber){
               newComment.anchorNodeID = anchorNode.parentNode.id;
               newComment.anchorOffset = anchorOffset;
               newComment.focusNodeID = focusNode.parentNode.id;
               newComment.focusOffset = focusOffset;
            } else {
               newComment.anchorNodeID = focusNode.parentNode.id;
               newComment.anchorOffset = focusOffset;
               newComment.focusNodeID = anchorNode.parentNode.id;
               newComment.focusOffset = anchorOffset;
            }
            newComment.posX = x;
            newComment.posY = y;
            
            //X.value = newComment.anchorNodeID;
            //Y.value = newComment.focusNodeID;
            
            var newCommentIcon = newComment.createComment();
            document.getElementById("code").prepend(newCommentIcon);
            $(`#${newCommentIcon.id}`).css({"position": "absolute", "left":`${newComment.posX}px`, "top": `${newComment.posY}px` });
            $(`#${newCommentIcon.id}`).addClass("open");
            $(`#${newCommentIcon.id}Form`).css("visibility","visible");
            
            var start = document.getElementById(newComment.anchorNodeID);
            var end = document.getElementById(newComment.focusNodeID);
            window.getSelection().setBaseAndExtent(start, 0, end, 1);
            document.designMode = "on";
            document.execCommand("HiliteColor", false, "#fffead");
            document.designMode = "off";
            window.getSelection().removeAllRanges();
            
            creatingComment = true;
         } else {
            alert("There is a comment that is unfinished creating.");
         }
      } else {
         alert("Select text to comment.");
      }
   });

   /*document.onselectionchange = function() {
      let {anchorNode, anchorOffset, focusNode, focusOffset} = document.getSelection();
      X.value = `${anchorNode.parentNode.id}:${anchorOffset}`;
      Y.value = `${focusNode.parentNode.id}:${focusOffset}`;
      A.value = `${anchorNode.parentNode.id}:${0}`;
      B.value = `${focusNode.parentNode.id}:${focusNode.data.length}`;
   }*/

   // CHANNELS WEBSOCKET
   const scSocket = new WebSocket('ws://' + window.location.host + "/ws/sourcecode/" + "{{sc.id}}" + '/');
   
   // RECEIVE FROM WEBSOCKET
   scSocket.onmessage = function(e){
      var data = JSON.parse(e.data);
      var todoType = data['todoType'];
      
      if (todoType == "commentCreated"){
         var cid = data['cId'];
         var seltxt = data['seltxt'];
         var anchorNodeID = data['anchorNodeID'];
         var anchorOffset = data['anchorOffset'];
         var focusNodeID = data['focusNodeID'];
         var focusOffset = data['focusOffset'];
         var posx = data['posx'];
         var posy = data['posy'];
         var text = data['text'];
         
         var newComment = Object.create(Comment);
         newComment.id = cid;
         newComment.seltxt = seltxt;
         newComment.anchorNodeID = anchorNodeID;
         newComment.anchorOffset = anchorOffset;
         newComment.focusNodeID = focusNodeID;
         newComment.focusOffset = focusOffset;
         newComment.posX = posx;
         newComment.posY = posy;
         newComment.text = text;
         
         var newCommentIcon = newComment.fixedComment();
         document.getElementById("code").prepend(newCommentIcon);
         $(`#${newCommentIcon.id}`).css({"position": "absolute", "left":`${newComment.posX}px`, "top": `${newComment.posY}px` });
         
         var start = document.getElementById(newComment.anchorNodeID);
         var end = document.getElementById(newComment.focusNodeID);
         window.getSelection().setBaseAndExtent(start, 0, end, 1);
         document.designMode = "on";
         document.execCommand("HiliteColor", false, "#fffead");
         document.designMode = "off";
         window.getSelection().removeAllRanges();
         
      } else if (todoType == "commentEdited"){
         var cid = data['cId'];
         var seltxt = data['seltxt'];
         var anchorNodeID = data['anchorNodeID'];
         var anchorOffset = data['anchorOffset'];
         var focusNodeID = data['focusNodeID'];
         var focusOffset = data['focusOffset'];
         var posx = data['posx'];
         var posy = data['posy'];
         var text = data['text'];
         
         document.getElementById(`comment${cid}`).remove();
         
         var newComment = Object.create(Comment);
         newComment.id = cid;
         newComment.seltxt = seltxt;
         newComment.anchorNodeID = anchorNodeID;
         newComment.anchorOffset = anchorOffset;
         newComment.focusNodeID = focusNodeID;
         newComment.focusOffset = focusOffset;
         newComment.posX = posx;
         newComment.posY = posy;
         newComment.text = text;
         
         var newCommentIcon = newComment.fixedComment();
         document.getElementById("code").prepend(newCommentIcon);
         $(`#${newCommentIcon.id}`).css({"position": "absolute", "left":`${newComment.posX}px`, "top": `${newComment.posY}px` });
      } else if (todoType == "commentDeleted"){
         var cid = data['cId'];
         var anchorNodeID = data['anchorNodeID'];
         var focusNodeID = data['focusNodeID'];
         cancelComment(cid, anchorNodeID, focusNodeID);
      } else if (todoType == "messageSent"){
         var muserid = data['userid'];
         var mcontent = data['content'];
         var mtimestamp = data['timestamp'];
         
         if (muserid == userid){
            var newMessage = Object.create(Message);
            newMessage.userid = muserid;
            newMessage.content = mcontent;
            newMessage.timestamp = mtimestamp.substring(3, mtimestamp.length-3);
            newMessage.createOutgoingMessage();
         } else {
            var newMessage = Object.create(Message);
            newMessage.userid = muserid;
            newMessage.content = mcontent;
            newMessage.timestamp = mtimestamp.substring(3, mtimestamp.length-3);
            newMessage.createIncomingMessage();
         }
      } else if (todoType == "autofocus"){
         scrollPos = Number(data['scrollPos']);
         if (autofocus == true){
            window.scrollTo(0, scrollPos);
         }
      }
   }

   scSocket.onclose = function(e){
      //alert("CLOSE");
   }

   // HIGHLIGHT SC AND DISPLAY
   function highlightSC() {
      var content = "{{js_fcontent}}";
      content = content.substring(6, content.length-6);
      
      //SYNTAX HIGHLIGHTING
      var highlighted = hljs.highlightAuto(content).value;
      for (var i = 0; i < htmlEntities.length; i++){
         highlighted = highlighted.replace(htmlEntities[i][0], htmlEntities[i][1]);
      }
      
      // ADD NODES BY TOKEN
      var bylines = highlighted.split("\n");
      for (var i = 0; i < bylines.length; i++){
         var oneline = bylines[i];
         var letter = 0;
         var length = oneline.length;
         var startCounting = false;
         var count = 1;
         while(letter < length){
            if (letter == length -1)
               break;
            switch(oneline[letter]){
               case " ":
                  if (startCounting == true){
                     //alert("COUNT: " + (count+1) + "| whitespace");
                     count += 1;
                  }
                  letter += 1;
                  break;
               case "<":
                  if (oneline.substring(letter, letter+5) == "<span"){
                     letter += 1;
                     while (oneline[letter] != ">"){
                        letter += 1;
                     }
                  } else if (oneline.substring(letter,letter+7) == "</span>"){
                     letter += "</span>".length-1;
                  } else {
                     var taglen = `<span data-startIndex='${count}' data-lineNumber='${i+1}'>`.length;
                     oneline = oneline.substring(0, letter) + `<span data-startIndex='${count}' data-lineNumber='${i+1}'>` + oneline.substring(letter);
                     //alert("OPENING |" + oneline);
                     letter += taglen;
                     length += taglen;
                     //alert("COUNT: " + (count+1) + "|" + oneline[letter]);
                     count += 1;
                     oneline = oneline.substring(0, letter) + "</span>" + oneline.substring(letter);
                     //alert("CLOSING |" + oneline);
                     taglen = "</span>".length;
                     letter += taglen;
                     length += taglen;
                  }
                  letter += 1;
                  break;
               default:
                  if (startCounting == false){
                     startCounting = true;
                  }
                  var taglen = `<span data-startIndex='${count}' data-lineNumber='${i+1}'>`.length;
                  oneline = oneline.substring(0, letter) + `<span data-startIndex='${count}' data-lineNumber='${i+1}'>` + oneline.substring(letter);
                  //alert("OPENING " + oneline);
                  letter += taglen;
                  length += taglen;
                  while(oneline[letter] != " "){
                     if (letter == length - 1){
                        break;
                     } else if (oneline.substring(letter+1, letter+8) == "</span>"){
                        //alert("COUNT: " + (count+1) + "|" + oneline[letter]);
                        letter += 1;
                        count += 1;
                        break;
                     } else if (oneline.substring(letter+1, letter+6) == "<span"){
                        //alert("COUNT: " + (count+1) + "|" + oneline[letter]);
                        letter += 1;
                        count += 1;
                        break;
                     }
                     //alert("COUNT: " + (count+1) + "|" + oneline[letter]);
                     letter += 1;
                     count += 1;
                  }
                  if (letter == length - 1){
                     oneline = oneline + "</span>";
                     //alert("LAST");
                  } else {
                     oneline = oneline.substring(0, letter) + "</span>" + oneline.substring(letter);
                  }
                  //alert("CLOSING " + oneline);
                  taglen = "</span>".length;
                  letter += taglen;
                  length += taglen;
            }
         }
         bylines[i] = oneline;
      }
      var line = bylines.join("\n");
      
      // ADD NODES BY LINE
      bylines = line.split("\n");
      for (var i = 0; i < bylines.length; i++){
         var oneline = bylines[i];
         bylines[i] = `<span class='line' data-lineNumber='${i+1}'>` + oneline + "</span>";
      }
      line = bylines.join("\n");
      document.getElementById("code").innerHTML = line;
      
      // ADD IDS TO EACH NODE
      var grandels = $("#code").find("span");
      var n = 1;
      for (var i = 0; i < grandels.length; i++){
         grandels[i].id = `el${n}`;
         n += 1;
      }
      
      //document.getElementById("try").innerHTML = document.getElementById("code").innerHTML;
   }

   // LOAD COMMENTS
   function loadComments() {
      if (id != -1){
         var commentlist = {{commentlist|safe}};
         for (var i = 0; i < commentlist.length; i++){
            var newComment = Object.create(Comment);
            newComment.id = commentlist[i]["pk"];
            newComment.seltxt = commentlist[i]["fields"].seltxt;
            newComment.anchorNodeID = commentlist[i]["fields"].anchorNodeID;
            newComment.anchorOffset = commentlist[i]["fields"].anchorOffset;
            newComment.focusNodeID = commentlist[i]["fields"].focusNodeID;
            newComment.focusOffset = commentlist[i]["fields"].focusOffset;
            newComment.posX = commentlist[i]["fields"].posX;
            newComment.posY = commentlist[i]["fields"].posY;
            newComment.text = commentlist[i]["fields"].text;
            
            var newCommentIcon = newComment.fixedComment();
            
            document.getElementById("code").prepend(newCommentIcon);
            $(`#${newCommentIcon.id}`).css({"position": "absolute", "left":`${newComment.posX}px`, "top": `${newComment.posY}px` });
            
            var start = document.getElementById(commentlist[i]["fields"].anchorNodeID);
            var end = document.getElementById(commentlist[i]["fields"].focusNodeID);
            window.getSelection().setBaseAndExtent(start, 0, end, 1);
            document.designMode = "on";
            document.execCommand("HiliteColor", false, "#fffead");
            document.designMode = "off";
            window.getSelection().removeAllRanges();
         }
      }
   }

   //document.execCommand("RemoveFormat", false, null);

   // LOAD MESSAGES
   function loadMessages() {
      var messagelist = {{messagelist|safe}};
      
      if (messagelist.length > 0){
         for (var i = 0; i < messagelist.length; i++){
            var muserid = messagelist[i]["fields"].user;
            var mcontent = messagelist[i]["fields"].content;
            var mtimestamp = messagelist[i]["fields"].timestamp;
            
            if (muserid == userid){
               var newMessage = Object.create(Message);
               newMessage.userid = muserid;
               newMessage.content = mcontent;
               newMessage.timestamp = mtimestamp;
               newMessage.createOutgoingMessage();
               
            } else {
               var newMessage = Object.create(Message);
               newMessage.userid = muserid;
               newMessage.content = mcontent;
               newMessage.timestamp = mtimestamp;
               newMessage.createIncomingMessage();
            }
         }
      }
   }

   //COMMENT OBJECT
   const Comment = {
      id: 0,
      seltxt: '',
      anchorNodeID: 0,
      anchorOffset: 0,
      focusNodeID: 0,
      focusOffset: 0,
      posX: 0,
      posY: 0,
      text: '',
      createComment() {
         var id = this.id;
         var seltxt = this.seltxt;
         var anchorNodeID = this.anchorNodeID;
         var anchorOffset = this.anchorOffset;
         var focusNodeID = this.focusNodeID;
         var focusOffset = this.focusOffset;
         var posX = this.posX;
         var posY = this.posY;
         var text = this.text;
         var comment = this;
         var commentForm = document.createElement("div");
         commentForm.className = "commentForm";
         commentForm.id = `comment${this.id}Form`;
         /*var commentMinimizeBtn = document.createElement("button");
         commentMinimizeBtn.className = "commentMinimizeBtn";
         var minimizeIcon = document.createElement("i");
         minimizeIcon.className = "fas fa-window-minimize minimize";
         commentMinimizeBtn.appendChild(minimizeIcon);
         commentForm.appendChild(commentMinimizeBtn);*/
         var commentContent = document.createElement("textarea");
         commentContent.innerHTML = text;
         commentContent.className = "commentContent";
         commentContent.setAttribute("type", "text");
         commentContent.setAttribute("id", `comment${this.id}Content`);
         commentForm.appendChild(commentContent);
         var commentCancelBtn = document.createElement("input");
         commentCancelBtn.className = "commentCancelBtn";
         commentCancelBtn.setAttribute("id", `comment${this.id}CancelBtn`);
         commentCancelBtn.type = "button";
         commentCancelBtn.addEventListener('click', function(event) {
            event.preventDefault();
            cancelComment(id, anchorNodeID, focusNodeID);
         });
         commentCancelBtn.setAttribute("value", "Cancel");
         commentForm.appendChild(commentCancelBtn);
         var commentSaveBtn = document.createElement("input");
         commentSaveBtn.className = "commentSaveBtn";
         commentSaveBtn.setAttribute("id", `comment${this.id}SaveBtn`);
         commentSaveBtn.type = "button";
         commentSaveBtn.addEventListener('click', function(event) {
            event.preventDefault();
            saveComment(id, seltxt, anchorNodeID, anchorOffset, focusNodeID, focusOffset, posX, posY, text);
         });
         commentSaveBtn.setAttribute("value", "Save");
         commentForm.appendChild(commentSaveBtn);
         
         var icon = document.createElement("div");
         icon.className = "commentIcon";
         icon.id = `comment${this.id}`;
         icon.appendChild(commentForm);
         //icon.css({"position": "absolute", "left": `${this.posX}px`, "top": `${this.posY}px`});
         //CLICK TOGGLE - OPEN & CLOSE
         icon.addEventListener('click', function(e){
            if ($(`#${e.target.id}`).hasClass("commentIcon") == true){
               if ($(`#${e.target.id}`).hasClass("open")){
                  $(`#${e.target.id}`).removeClass("open");
                  $(`#${e.target.id}Form`).css("visibility","hidden");
               } else {
                  $(`#${e.target.id}`).addClass("open");
                  $(`#${e.target.id}Form`).css("visibility","visible");
               }
            }
         });
         
         return icon;
      },
      fixedComment() {
         var id = this.id;
         var seltxt = this.seltxt;
         var anchorNodeID = this.anchorNodeID;
         var anchorOffset = this.anchorOffset;
         var focusNodeID = this.focusNodeID;
         var focusOffset = this.focusOffset;
         var posX = this.posX;
         var posY = this.posY;
         var text = this.text;
         var comment = this;
         var commentForm = document.createElement("div");
         commentForm.className = "commentForm";
         commentForm.id = `comment${this.id}Form`;
         var commentContent = document.createElement("textarea");
         commentContent.readOnly = true;
         commentContent.innerHTML = text;
         commentContent.className = "commentContent";
         commentContent.setAttribute("type", "text");
         commentContent.setAttribute("id", `comment${this.id}Content`);
         commentForm.appendChild(commentContent);
         var commentDeleteBtn = document.createElement("input");
         commentDeleteBtn.className = "commentCancelBtn";
         commentDeleteBtn.setAttribute("id", `comment${this.id}DeleteBtn`);
         commentDeleteBtn.type = "button";
         commentDeleteBtn.addEventListener('click', function(event) {
            event.preventDefault();
            deleteComment(id, anchorNodeID, focusNodeID);
         });
         commentDeleteBtn.setAttribute("value", "Delete");
         commentForm.appendChild(commentDeleteBtn);
         var commentEditBtn = document.createElement("input");
         commentEditBtn.className = "commentSaveBtn";
         commentEditBtn.setAttribute("id", `comment${this.id}EditBtn`);
         commentEditBtn.type = "button";
         commentEditBtn.addEventListener('click', function(event) {
            event.preventDefault();
            commentContent.readOnly = false;
            commentDeleteBtn.remove();
            commentForm.appendChild(comment.createEditCancelBtn());
            commentEditBtn.remove();
            commentForm.appendChild(comment.createEditSaveBtn());
         });
         commentEditBtn.setAttribute("value", "Edit");
         commentForm.appendChild(commentEditBtn);
         
         var icon = document.createElement("div");
         icon.className = "commentIcon";
         icon.id = `comment${this.id}`;
         icon.appendChild(commentForm);
         //icon.css({"position": "absolute", "left": `${this.posX}px`, "top": `${this.posY}px`});
         //CLICK TOGGLE - OPEN & CLOSE
         icon.addEventListener('click', function(e){
            if ($(`#${e.target.id}`).hasClass("commentIcon") == true){
               if ($(`#${e.target.id}`).hasClass("open")){
                  $(`#${e.target.id}`).removeClass("open");
                  $(`#${e.target.id}Form`).css("visibility","hidden");
               } else {
                  $(`#${e.target.id}`).addClass("open");
                  $(`#${e.target.id}Form`).css("visibility","visible");
               }
            }
         });
         
         return icon;
      },
      createDeleteBtn() {
         var id = this.id;
         var anchorNodeID = this.anchorNodeID;
         var focusNodeID = this.focusNodeID;
         var commentDeleteBtn = document.createElement("input");
         commentDeleteBtn.className = "commentCancelBtn";
         commentDeleteBtn.setAttribute("id", `comment${id}DeleteBtn`);
         commentDeleteBtn.type = "button";
         commentDeleteBtn.addEventListener('click', function(event) {
            event.preventDefault();
            deleteComment(id, anchorNodeID, focusNodeID);
         });
         commentDeleteBtn.setAttribute("value", "Delete");
         
         return commentDeleteBtn;
      },
      createEditBtn(){
         var comment = this;
         var commentEditBtn = document.createElement("input");
         commentEditBtn.className = "commentSaveBtn";
         commentEditBtn.setAttribute("id", `comment${comment.id}EditBtn`);
         commentEditBtn.type = "button";
         commentEditBtn.addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById(`comment${comment.id}Content`).readOnly = false;
            document.getElementById(`comment${comment.id}DeleteBtn`).remove();
            document.getElementById(`comment${comment.id}Form`).appendChild(comment.createEditCancelBtn());
            commentEditBtn.remove();
            document.getElementById(`comment${comment.id}Form`).appendChild(comment.createEditSaveBtn());
         });
         commentEditBtn.setAttribute("value", "Edit");
         
         return commentEditBtn;
      },
      createEditCancelBtn() {
         var comment = this;
         var beforeEdit = $(`#comment${comment.id}Content`).val();
         var commentEditCancelBtn = document.createElement("input");
         commentEditCancelBtn.className = "commentCancelBtn";
         commentEditCancelBtn.setAttribute("id", `comment${comment.id}EditCancelBtn`);
         commentEditCancelBtn.type = "button";
         commentEditCancelBtn.addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById(`comment${comment.id}Content`).value = beforeEdit;
            commentEditCancelBtn.remove();
            document.getElementById(`comment${comment.id}Form`).appendChild(comment.createDeleteBtn());
            document.getElementById(`comment${comment.id}Content`).setAttribute("readonly", "true");
            document.getElementById(`comment${comment.id}EditSaveBtn`).remove();
            document.getElementById(`comment${comment.id}Form`).appendChild(comment.createEditBtn());
         });
         commentEditCancelBtn.setAttribute("value", "Cancel");
         
         return commentEditCancelBtn;
      },
      createEditSaveBtn(){
         var comment = this;
         var commentEditSaveBtn = document.createElement("input");
         commentEditSaveBtn.className = "commentSaveBtn";
         commentEditSaveBtn.setAttribute("id", `comment${comment.id}EditSaveBtn`);
         commentEditSaveBtn.type = "button";
         commentEditSaveBtn.addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById(`comment${comment.id}Content`).setAttribute("readonly", "true");
            var text = document.getElementById(`comment${comment.id}Content`).value;
            saveEditedComment(comment.id, text);
         });
         commentEditSaveBtn.setAttribute("value", "Save");
         
         return commentEditSaveBtn
      }
   }

   // CANCEL COMMENT
   function cancelComment(commentID, anchorNodeID, focusNodeID){
      creatingComment = false;
      document.getElementById(`comment${commentID}`).remove();
      var start = document.getElementById(anchorNodeID);
      var end = document.getElementById(focusNodeID);
      window.getSelection().setBaseAndExtent(start, 0, end, 1);
      document.designMode = "on";
      document.execCommand("RemoveFormat", false, null);
      document.designMode = "off";
      window.getSelection().removeAllRanges();
   }

   // DELETE COMMENT
   function deleteComment(commentID, anchorNodeID, focusNodeID){
      $.ajax(
      {
         url: "{% url 'deleteComment' %}",
         type: "GET",
         data:{
            cId: commentID,
         },
         success: function (response){
            //alert("SUCCESS\n" + response);
            if (response == "NO ACCESS"){
               alert("You can't delete a comment that someone else has created.");
            } else {
               response = response.split(" ");
               scSocket.send(JSON.stringify({
                  'todoType': "commentDeleted",
                  'cId': commentID,
                  'anchorNodeID': response[1],
                  'focusNodeID': response[2],
               }));
               
               cancelComment(response[0], response[1], response[2]);
            }
         },
         error: function (response){
            alert("ERROR!!\n" + response);
         }
      });
   }

   //SAVE COMMENT
   function saveComment(id, seltxt, anchorNodeID, anchorOffset, focusNodeID, focusOffset, posX, posY, text){
      $.ajax(
      {
         url: "{% url 'getLatestCommentId' %}",
         type: "GET",
         success: function (response){
            
            $.ajax(
            {
               url: "{% url 'saveComment' %}",
               type: "GET",
               data:{
                   scId: {{sc.id}},
                   id: Number(response),
                   seltxt: seltxt,
                   anchorNodeID: anchorNodeID,
                   anchorOffset: anchorOffset,
                   focusNodeID: focusNodeID,
                   focusOffset: focusOffset,
                   posX: posX,
                   posY: posY,
                   text: $(`#comment${id}Content`).val(),
               },
               success: function (response){
                  document.getElementById(`comment${id}`).remove();
                  creatingComment = false;
                  //alert("SUCCESS\n" + response);
                  
                  scSocket.send(JSON.stringify({
                     'todoType': "commentCreated",
                     'cId': response,
                  }));
               },
               error: function (response){
                  alert("ERROR!!\n" + response);
               }
            });
         },
         error: function (response){
            alert("ERROR!!\n" + response);
         }
      });
   }

   // SAVE EDITED COMMENT
   function saveEditedComment(id, text){
      $.ajax(
      {
         url: "{% url 'saveEditedComment' %}",
         type: "GET",
         data:{
            cId: id,
            text: text,
         },
         success: function (response){
            //alert("SUCCESS\n" + response);
            
            scSocket.send(JSON.stringify({
               'todoType': "commentEdited",
               'cId': response,
            }));
         },
         error: function (response){
            alert("ERROR!!\n" + response);
         }
      });
   }

   // MESSAGE OBJECT
   const Message = {
      userid: 0,
      content: "",
      timestamp: "",
      createOutgoingMessage() {
         var userid = this.userid;
         var mcontent = this.content;
         var timestamp = this.timestamp;
         var year = timestamp.substring(0,4);
         var month = timestamp.substring(5,7);
         var day = timestamp.substring(8,10);
         var hour = timestamp.substring(11,13);
         var minute = timestamp.substring(14,16);
         
         var divOutgoing = document.createElement("div");
         divOutgoing.className = "outgoing_msg";
         var divSent = document.createElement("div");
         divSent.className = "sent_msg";
         divOutgoing.appendChild(divSent);
         var content = document.createElement("p");
         content.innerHTML = mcontent;
         divSent.appendChild(content);
         var timedate = document.createElement("span");
         timedate.className = "time_date_out";
         timedate.innerHTML = hour +":"+ minute + "   |   " + month + " " + day + " " + year;
         divSent.appendChild(timedate);
         
         document.getElementById("chatHistory").appendChild(divOutgoing);
      },
      createIncomingMessage(){
         var userid = this.userid;
         var mcontent = this.content;
         var timestamp = this.timestamp;
         var year = timestamp.substring(0,4);
         var month = timestamp.substring(5,7);
         var day = timestamp.substring(8,10);
         var hour = timestamp.substring(11,13);
         var minute = timestamp.substring(14,16);
         
         var divIncoming = document.createElement("div");
         divIncoming.className = "incoming_msg";
         var divReceived = document.createElement("div");
         divReceived.className = "received_msg";
         divIncoming.appendChild(divReceived);
         var divReceivedContent = document.createElement("div");
         divReceivedContent.className = "received_withd_msg";
         divReceived.appendChild(divReceivedContent);
         var content = document.createElement("p");
         content.innerHTML = mcontent;
         divReceivedContent.appendChild(content);
         var timedate = document.createElement("span");
         timedate.className = "time_date_in";
         timedate.innerHTML = hour +":"+ minute + "   |   " + month + " " + day + " " + year;
         divReceivedContent.appendChild(timedate);
         
         document.getElementById("chatHistory").appendChild(divIncoming);
      },
   }

   // SAVE MESSAGE
   function sendMessage(){
      var messageContent = chatInput.value;
      
      $.ajax(
      {
         url: "{% url 'sendMessage' %}",
         type: "GET",
         data:{
            scId: scId,
            messageContent: messageContent,
            classname: classname,
         },
         success: function (response){
            //alert("SUCCESS\n" + response);
            
            scSocket.send(JSON.stringify({
               'todoType': "messageSent",
               'messageId': response,
            }));
            
            chatInput.value = "";
         },
         error: function (response){
            alert("ERROR!!\n" + response);
         }
      });
   }


   var folderNode = document.getElementById("dirTree");

   const folderSocket = new WebSocket('ws://' + window.location.host + "/ws/folder/" + "{{user}}" + '/');

   folderSocket.onmessage = function(e){
      var data = JSON.parse(e.data);
      folderNode.innerHTML += "<i class='fas fa-folder' id='folderIcon'></i>{{folder.name}}";
      folderNode.innerHTML += data['folderName'];
   };

   folderSocket.onclose = function(e){
      //alert("SOCKET CLOSED");
   };

   //ADD FOLDER
   function addFolderText(){
      
      folderNode.innerHTML += "<input id='folder_name' type='text' ><button id='btnFolderCreate' onclick='addFolder()'>+<br>";
   }
   function addFolder(){
      $.ajax({
         url: "{% url 'addFolder' %}",
         type: "GET",
         data:{
            classname: "{{className}}",
            foldername: $("#folder_name").val()
         },
         success: function (response){
            //alert("SUCCESS\n" + response);
            folderNode.removeChild(document.getElementById("folder_name"));
            folderNode.removeChild(document.getElementById("btnFolderCreate"));

            folderSocket.send(JSON.stringify({
               'classId': "{{class.id}}",
               'folderId': response,
            }));
            
         },
         error: function (response){
            alert("ERROR\n" + response);
         }

      });

   }
   
</script>

{% endblock %}
