{% extends 'base.html' %}

{% csrf_token %}

{% block title%}
   Mainpage
{% endblock %}

{% block content %}
   <div id="mainScreen">
      
      <div id="secDir">
         <div id="upload">
             <form method="post" enctype="multipart/form-data">
               <p id="upload_notice">Choose a file to upload</p>
                  {% csrf_token %}
                  {{form.content}}
                  <div id="submit">
                     <button id="uploadSubmit" type="submit">Upload</button>
                  </div>
            </form>
         </div>
         
         <div id="dirTree">
            {% if sclist %}
               {% for sc in sclist %}
               <a href="{% url 'openSC' className sc.id %}">{{sc.content.name}}</a><br>
               {% endfor %}
            {% endif %}
         </div>
         
      </div>
      
      <div id="secCode">
         <div id="showContent">
            <div id="showLineNum" unselectable="on">
               <p unselectable="on" >
                  {% for i in range %}
                     {{i}}<br>
                  {% endfor %}
               </p>
            </div>
            <p id="code"></p>
         </div>
      </div>

      <div id="secChat">
         X <input id="X" disabled><br>
         Y <input id="Y" disabled><br>
         P <input id="P" disabled>
         <textarea id="try" style="width: 100%; height: 80%;"></textarea>
         <div id="chatLog"></div><br>
         <textarea id="chatInput"></textarea>
         <input id="chatSubmit" type="button" value="Send"></input>
      </div>
   </div>

<script>
   var x = 0;
   var y = 0;
   var id = {{nextId}};
   var htmlEntities = [
      [/&amp;/g, "&"],
      [/&lt;/g, "<"],
      [/&gt;/g, ">"],
      [/&quot;/g, "\""],
      [/&#x27;/g, "\'"],
   ]; 
   
   window.onload = prepare;

   function prepare() {
      highlightSC();
      loadComments();
   }

   window.addEventListener('mousedown', function(e){
      x = e.target.closest('.line').offsetLeft + e.target.closest('.line').offsetWidth;
      y = e.target.offsetTop;
      
      //X.value = x;
      //Y.value = y;
   });
   window.addEventListener('mouseup', function(e){
      getSelectedText(e);
   });

   /*document.onselectionchange = function() {
      let {anchorNode, anchorOffset, focusNode, focusOffset} = document.getSelection();
      //X.value = `${anchorNode.parentNode.id}:${anchorOffset}`;
      //Y.value = `${focusNode.parentNode.parentNode.id}:${focusOffset}`;
   }*/

   // CHANNELS WEBSOCKET
   const scSocket = new WebSocket('ws://' + window.location.host + "/ws/sourcecode/" + "{{sc.id}}" + '/');
   
   scSocket.onmessage = function(e){
      var data = JSON.parse(e.data);
      
      var cid = data['cId'];
      var seltxt = data['seltxt'];
      var anchorNodeID = data['anchorNodeID'];
      var anchorOffset = data['anchorOffset'];
      var focusNodeID = data['focusNodeID'];
      var focusOffset = data['focusOffset'];
      var posx = data['posx'];
      var posy = data['posy'];
      var text = data['text'];
      
      var newComment = Object.create(Comment);
      newComment.id = cid;
      newComment.seltxt = seltxt;
      newComment.anchorNodeID = anchorNodeID;
      newComment.anchorOffset = anchorOffset;
      newComment.focusNodeID = focusNodeID;
      newComment.focusOffset = focusOffset;
      newComment.posX = posx;
      newComment.posY = posy;
      newComment.text = text;
      
      //alert(newComment.posX + "|" + newComment.posY);
      
      var newCommentIcon = newComment.createComment();
      document.getElementById("code").prepend(newCommentIcon);
      $(`#${newCommentIcon.id}`).css({"position": "absolute", "left":`${newComment.posX}px`, "top": `${newComment.posY}px` });
   }

   scSocket.onclose = function(e){
      alert("CLOSE");
   }

   // HIGHLIGHT SC AND DISPLAY
   function highlightSC() {
      var content = "{{js_fcontent}}";
      content = content.substring(6, content.length-6);
      
      //SYNTAX HIGHLIGHTING
      var highlighted = hljs.highlightAuto(content).value;
      for (var i = 0; i < htmlEntities.length; i++){
         highlighted = highlighted.replace(htmlEntities[i][0], htmlEntities[i][1]);
      }
      
      // ADD NODES BY LINE
      var bylines = highlighted.split("\n");
      for (var i = 0; i < bylines.length; i++){
         var oneline = bylines[i];
         bylines[i] = `<span class='line' data-lineNumber='${i+1}'>` + oneline + "</span>";
      }
      var line = bylines.join("\n");
      document.getElementById("code").innerHTML = line;
      
      // ADD IDS TO EACH NODE
      var grandels = $("#code").find("span");
      var n = 1;
      for (var i = 0; i < grandels.length; i++){
         grandels[i].id = `el${n}`;
         n += 1;
      }
      
      document.getElementById("try").innerHTML = document.getElementById("code").innerHTML;
   }

   // LOAD COMMENTS
   function loadComments() {
      if (id != -1){
         var commentlist = {{commentlist|safe}};
         for (var i = 0; i < commentlist.length; i++){
            var newComment = Object.create(Comment);
            newComment.id = commentlist[i]["fields"].idNumber;
            newComment.seltxt = commentlist[i]["fields"].seltxt;
            newComment.anchorNodeID = commentlist[i]["fields"].anchorNodeID;
            newComment.anchorOffset = commentlist[i]["fields"].anchorOffset;
            newComment.focusNodeID = commentlist[i]["fields"].focusNodeID;
            newComment.focusOffset = commentlist[i]["fields"].focusOffset;
            newComment.posX = commentlist[i]["fields"].posX;
            newComment.posY = commentlist[i]["fields"].posY;
            newComment.text = commentlist[i]["fields"].text;
            
            var newCommentIcon = newComment.createComment();
            
            document.getElementById("code").prepend(newCommentIcon);
            $(`#${newCommentIcon.id}`).css({"position": "absolute", "left":`${newComment.posX}px`, "top": `${newComment.posY}px` });
         }
      }
       
   }

   //COMMENT OBJECT
   const Comment = {
      id: 0,
      seltxt: '',
      anchorNodeID: 0,
      anchorOffset: 0,
      focusNodeID: 0,
      focusOffset: 0,
      posX: 0,
      posY: 0,
      text: '',
      createComment() {
         var id = this.id;
         var seltxt = this.seltxt;
         var anchorNodeID = this.anchorNodeID;
         var anchorOffset = this.anchorOffset;
         var focusNodeID = this.focusNodeID;
         var focusOffset = this.focusOffset;
         var posX = this.posX;
         var posY = this.posY;
         var text = this.text;
         var commentForm = document.createElement("div");
         commentForm.className = "commentForm";
         commentForm.id = `comment${this.id}Form`;
         /*var commentMinimizeBtn = document.createElement("button");
         commentMinimizeBtn.className = "commentMinimizeBtn";
         var minimizeIcon = document.createElement("i");
         minimizeIcon.className = "fas fa-window-minimize minimize";
         commentMinimizeBtn.appendChild(minimizeIcon);
         commentForm.appendChild(commentMinimizeBtn);*/
         var commentContent = document.createElement("textarea");
         commentContent.innerHTML = text;
         commentContent.id = `comment${this.id}Text`;
         commentContent.className = "commentContent";
         commentContent.setAttribute("type", "text");
         commentContent.setAttribute("id", `comment${this.id}Content`);
         commentForm.appendChild(commentContent);
         var commentCancelBtn = document.createElement("input");
         commentCancelBtn.className = "commentCancelBtn";
         commentCancelBtn.setAttribute("id", "commentCancelBtn");
         commentCancelBtn.type = "button";
         commentCancelBtn.addEventListener('click', function(event) {
            event.preventDefault();
            cancelComment(id);
         });
         commentCancelBtn.setAttribute("value", "Cancel");
         commentForm.appendChild(commentCancelBtn);
         var commentSaveBtn = document.createElement("input");
         commentSaveBtn.className = "commentSaveBtn";
         commentSaveBtn.setAttribute("id", "commentSaveBtn");
         commentSaveBtn.type = "button";
         commentSaveBtn.addEventListener('click', function(event) {
            event.preventDefault();
            saveComment(id, seltxt, anchorNodeID, anchorOffset, focusNodeID, focusOffset, posX, posY, text);
         });
         commentSaveBtn.setAttribute("value", "Save");
         commentForm.appendChild(commentSaveBtn);
         
         var icon = document.createElement("div");
         icon.className = "commentIcon";
         icon.id = `comment${this.id}`;
         icon.appendChild(commentForm);
         //icon.css({"position": "absolute", "left": `${this.posX}px`, "top": `${this.posY}px`});
         //CLICK TOGGLE - OPEN & CLOSE
         icon.addEventListener('click', function(e){
            if ($(`#${e.target.id}`).hasClass("commentIcon") == true){
               if ($(`#${e.target.id}`).hasClass("open")){
                  $(`#${e.target.id}`).removeClass("open");
                  $(`#${e.target.id}Form`).css("visibility","hidden");
               } else {
                  $(`#${e.target.id}`).addClass("open");
                  $(`#${e.target.id}Form`).css("visibility","visible");
               }
            }
         });
         
         return icon;
      }
   }

   // GET SELECTION
   function getSelectedText(e) {
      if(window.getSelection) {
         var seltxt = window.getSelection();
         var {anchorNode, anchorOffset, focusNode, focusOffset} = window.getSelection();
         if (seltxt.toString().length > 0 && e.target.closest("#code").id == "code"){
            
            //.designMode = "on";
            //document.execCommand("HiliteColor", false, "yellow");
            //document.designMode = "off";
            
            var newComment = Object.create(Comment);
            newComment.id = id +1;
            id = id + 1;
            newComment.seltxt = seltxt.toString();
            if (anchorNode.parentNode.tagName.toLowerCase() == 'span'){
               newComment.anchorNodeID = anchorNode.parentNode.id;
            } else if (anchorNode.parentNode.parentNode.tagName.toLowerCase() == 'span'){
               newComment.anchorNodeID = anchorNode.parentNode.parentNode.id;
            }
            newComment.anchorOffset = seltxt.anchorOffset;
            if (focusNode.parentNode.tagName.toLowerCase() == 'span'){
               newComment.focusNodeID = focusNode.parentNode.id;
            } else if (focusNode.parentNode.parentNode.tagName.toLowerCase() == 'span'){
               newComment.focusNodeID = focusNode.parentNode.parentNode.id;
            }
            newComment.focusOffset = seltxt.focusOffset;
            newComment.posX = x;
            newComment.posY = y;
            
            X.value = newComment.anchorNodeID;
            Y.value = newComment.focusNodeID;
            
            var newCommentIcon = newComment.createComment();
            document.getElementById("code").prepend(newCommentIcon);
            $(`#${newCommentIcon.id}`).css({"position": "absolute", "left":`${newComment.posX}px`, "top": `${newComment.posY}px` });
         }
      }
   }
   
   // CANCEL COMMENT
   function cancelComment(commentID){
      document.getElementById(`comment${commentID}`).remove();
   }
   
   //SAVE COMMENT
   function saveComment(id, seltxt, anchorNodeID, anchorOffset, focusNodeID, focusOffset, posX, posY, text){
      $.ajax(
      {
         url: "{% url 'saveComment' %}",
         type: "GET",
         data:{
             scId: {{sc.id}},
             id: id,
             seltxt: seltxt,
             anchorNodeID: anchorNodeID,
             anchorOffset: anchorOffset,
             focusNodeID: focusNodeID,
             focusOffset: focusOffset,
             posX: posX,
             posY: posY,
             text: $(`#comment${id}Content`).val(),
         },
         success: function (response){
            alert("SUCCESS\n" + response);
            
            scSocket.send(JSON.stringify({
               'cId': response,
            }));
         },
         error: function (response){
            alert("ERROR!!\n" + response);
         }
      });
   }
   
</script>

{% endblock %}
